{% extends 'base.html' %}

{% block content %}
    <div id="query">

        <div class="description">
            <h3>
                Descripción de la consulta:
            </h3>
            <p>
                A través de esta consulta obtienes los animes de un género en
                particular que tengan mayor puntuación, definiendo además el número de episodios
                que se desee obtener.
            </p>
        </div>

        <div class="inputs">
            <form action="" method="post">
                <div class="fields">
                    <fieldset>
                        <legend>Datos de entrada</legend>
                        <label for="genre">Género:</label><br>
                        <input type="text" id="genre" name="genre" value="{{ request.form['genre'] }}"><br>
                        <label for="min_episodes">Min episodios:</label><br>
                        <input type="text" id="min_episodes" name="min_episodes" value="{{ request.form['min_episodes'] }}"><br>
                        <label for="max_episodes">Max episodios:</label><br>
                        <input type="text" id="max_episodes" name="max_episodes" value="{{ request.form['max_episodes'] }}"><br>
                        <label for="max_results"> Resultados:</label><br>
                        <input type="text" id="max_results" name="max_results" value="{{ request.form['max_results'] }}"><br>
                    </fieldset>
                </div>

                <div class="submit_button">
                    <input type="submit" name="run_query" value="Submit">
                </div>
            </form>
        </div>

        <div class="outputs">
            {% if response %}
                <table>
                    <tr>
                        <th>Anime</th>
                        <th>Puntuación</th>
                        <th>Episodios</th>
                    </tr>
                    {% for result in response %}
                        <tr>
                            <td>{{ result.title }}</td>
                            <td>{{ result.score }}</td>
                            <td>{{ result.n_episodes }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>

    </div>
{% endblock %}